@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                To learn more about ASP.NET MVC visit
                <a href="http://asp.net/mvc" title="ASP.NET MVC Website">http://asp.net/mvc</a>.
                The page features <mark>videos, tutorials, and samples</mark> to help you get the most from ASP.NET MVC.
                If you have any questions about ASP.NET MVC visit
                <a href="http://forums.asp.net/1146.aspx/1?MVC" title="ASP.NET MVC Forum">our forums</a>.
            </p>
        </div>
    </section>
}

<span ng-app="first">
    <form id="testForm">
        <div ng-controller="MyController">
            <h5>Hello {{clock.now}}</h5>
            <input id="testField" type="text" ng-minlength="5" />
        </div>
    </form>
</span>


<section>
    <h3>We suggest the following:</h3>

    @*<div ng-app="" data-ng-init="name='Kavlez'">
            <p>Name: <input type="text" ng-model="name"></p>
            <p ng-bind="name"></p>
            {{name}}
            {{6+8}}
        </div>*@
    @*<div ng-app="">
            <input ng-model="name" placeholder="Your Name" />
            <h1>Hello {{name}}</h1>
        </div>*@




    <div ng-app="Oper" ng-controller="OperController">
        <p>{{Count}}</p>
        <button ng-click="Add(@ViewBag.BasicNo)" value="add" class="ui-button"></button>
        <button ng-click="Subtract(@ViewBag.BasicNo)" value="SubStract" class="ui-button"></button>

    </div>

    <div ng-init="quantity=1;cost=5">
        <p>Total : ￥{{ quantity * cost }}</p>
    </div>

    <div ng-init="myArr=[0,2,4,6,8]">
        <p ng-repeat="element in myArr">
            {{ element }}
        </p>
    </div>

    <div ng-controller="personController">
        <h1>{{ person.name +' is a(an) '+person.job }}</h1>
        <h1>{{ person.sayHi() }}</h1>
    </div>

    @*<div ng-app="" ng-init="firstName='Kavlez';lastName='Jin'">
            <p>The name is {{ firstName + " " + lastName }}</p>
        </div>*@



    <ol class="round">
        <li class="one">
            <h5>Getting Started</h5>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and that gives you full control over markup
            for enjoyable, agile development. ASP.NET MVC includes many features that enable
            fast, TDD-friendly development for creating sophisticated applications that use
            the latest web standards.
            <a href="http://go.microsoft.com/fwlink/?LinkId=245151">Learn more…</a>
            @using (Ajax.BeginForm("GetJavascript", new AjaxOptions()))
            {
                <input type="submit" value="test" />
            }
        </li>

        <li class="two">
            <h5>Add NuGet packages and jump-start your coding</h5>
            NuGet makes it easy to install and update free libraries and tools.
            <a href="http://go.microsoft.com/fwlink/?LinkId=245153">Learn more…</a>
        </li>

        <li class="three">
            <img src="@Url.Action("GetImageResult")" style="width: 200px;height: 160px;" />
        </li>

    </ol>
</section>
<script src="~/Scripts/IndexController.js"></script>
